.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.Label{
    font-weight: bold;
    display: block;
    margin: 8px 0px;
    width: 80%;
    text-transform: capitalize;
    text-align: left;
    color: #000;
    padding: 5px 10px;
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: transparent;
    font: inherit;
    padding: 6px 10px;
    width: 80%;
    box-sizing: border-box;
}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
     
}

.InputInvalid{
    border: solid salmon;
    background-color: salmon;
}

