.Button { 
    outline: none;
    font: inherit;
    font-weight: bold;
    box-sizing: border-box;
    padding: 8px;
    margin: 3px;
    border-radius: 4px;
    color:#fff
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
    background-color: green;
   
}

.Success:disabled{
    background-color: lightgray;
    color:green;
}

.Danger {
    background-color: salmon;
}

.Button:disabled{
    color:#ccc;
    cursor: none;
}
/* 
.Button:hover {
    background-color: #df8a56;
    box-shadow: 0 0 0 7px #df8a56 inset;
    border: 1px solid;
} */

