
.burgerButton {
    padding: 10px;
    margin:0px 3px 10px 3px ;
    border-radius: 10px;
    background-color: #e7a881;
    box-sizing: border-box;
    border:1px solid lightcoral;
    box-shadow: 0 0 0 7px #e7a881 inset;
}

.burgerButton:hover {
    background-color: #df8a56;
    box-shadow: 0 0 0 7px #df8a56 inset;
    border: 1px solid;
}

.Ing{
    text-transform: capitalize;
    font-size: 1rem;
}

.Button:disabled{
    border:none;
    background-color: #e7a881;
    box-shadow: 0 0 0 7px #e7a881 inset;
    cursor: not-allowed;
}